bin/*.pdb
*.suo
*.user
.vs
bin
obj
.svn


*.pubxml
/ZZH.RabbitMQ.FrameworkService/*.nupkg
/packages/RabbitMQ.Client.3.6.9/*.nupkg
/packages/RabbitMQ.Client.3.6.9/lib/net45/*.dll
/packages/RabbitMQ.Client.3.6.9/lib/net45/*.xml
/packages/RabbitMQ.Client.3.6.9/lib/netcore45/*.dll
/packages/RabbitMQ.Client.3.6.9/lib/netcore45/*.xml
